/* =========================
   ROOT
========================= */

:root{
  --bg:#060816;
  --bg2:#0d1024;
  --card:#11152c;
  --card2:#181d39;
  --border:#2a3164;
  --text:#f3f5ff;
  --muted:#98a1d7;

  --primary:#6366f1;
  --primary2:#8b5cf6;
  --cyan:#22d3ee;
  --green:#22c55e;

  --shadow:
    0 0 50px rgba(99,102,241,.18);

  --gradient:
    linear-gradient(
      135deg,
      var(--primary),
      var(--primary2)
    );
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Inter,sans-serif;
  background:
    radial-gradient(circle at top,#151a3a 0%,#060816 55%);
  color:var(--text);
  overflow-x:hidden;
  min-height:100vh;
}

/* =========================
   APP
========================= */

.app{
  display:flex;
  min-height:100vh;
}

/* =========================
   OVERLAY
========================= */

.sidebar-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.65);
  z-index:998;
  opacity:0;
  pointer-events:none;
  transition:.3s;
}

.sidebar-overlay.active{
  opacity:1;
  pointer-events:auto;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
  width:330px;
  min-width:330px;
  height:100vh;
  position:sticky;
  top:0;
  overflow-y:auto;

  padding:22px;

  background:
    rgba(8,10,22,.96);

  backdrop-filter:blur(20px);

  border-right:1px solid var(--border);

  display:flex;
  flex-direction:column;
  gap:22px;

  transition:.35s ease;
  z-index:999;
}

.sidebar.collapsed{
  width:92px;
  min-width:92px;
}

.sidebar.collapsed .sidebar-section{
  opacity:0;
  pointer-events:none;
  transform:translateX(-25px);
}

.sidebar-header{
  display:flex;
  align-items:center;
  justify-content:center;
}

.sidebar-toggle{
  width:52px;
  height:52px;

  border:none;
  border-radius:18px;

  background:var(--gradient);

  color:white;
  cursor:pointer;

  font-size:20px;

  transition:.3s;
}

.sidebar-toggle:hover{
  transform:rotate(90deg);
}

/* =========================
   MAIN
========================= */

.main{
  flex:1;
  padding:30px;
}

/* =========================
   TOPBAR
========================= */

.main-topbar{
  margin-bottom:28px;

  background:
    linear-gradient(
      180deg,
      #11152c,
      #0d1020
    );

  border:1px solid var(--border);

  border-radius:30px;

  padding:28px;

  box-shadow:var(--shadow);

  position:relative;
  overflow:hidden;
}

.main-topbar::before{
  content:"";

  position:absolute;

  width:300px;
  height:300px;

  border-radius:999px;

  background:
    rgba(99,102,241,.16);

  top:-180px;
  right:-100px;

  filter:blur(40px);
}

.main-topbar h1{
  font-size:42px;
  font-weight:800;
  margin-bottom:8px;
  color: #b3bcff;
}

.main-topbar p{
  color:var(--muted);
  font-size:15px;
}

/* =========================
   GRID
========================= */

.top-layout{
  display:grid;
  grid-template-columns:1.1fr .9fr;
  gap:28px;
}

.left-panel{
  display:flex;
  flex-direction:column;
  gap:28px;
}

/* =========================
   BIG PROGRESS
========================= */

.big-progress-card{
  position:relative;

  min-height:480px;

  background:
    linear-gradient(
      180deg,
      #12152e,
      #0d1020
    );

  border:1px solid var(--border);

  border-radius:38px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  overflow:hidden;

  box-shadow:var(--shadow);
  padding-bottom: 40px;
}

/* glow */

.glow{
  position:absolute;
  border-radius:999px;
  filter:blur(80px);
  animation:pulse 5s infinite ease-in-out;
}

.glow-1{
  width:240px;
  height:240px;
  background:#4f46e5;
  top:-70px;
  right:-60px;
  opacity:.28;
}

.glow-2{
  width:220px;
  height:220px;
  background:#9333ea;
  left:-60px;
  bottom:-80px;
  opacity:.25;
}

/* canvas */

#overallCanvas{
  width:330px;
  height:330px;
  max-width:100%;
  animation:float 4s infinite ease-in-out;
}
#overallPercent{
  color: #a7c3ff;
  text-shadow: #090c18;
  
}
/* center */

.overall-center{
  position:absolute;
  text-align:center;
}

.overall-center h1{
  font-size:68px;
  font-weight:800;
}

.overall-center span{
  color:var(--muted);
  font-size:15px;
}

/* =========================
   RANK SYSTEM
========================= */

.rank-system{
  width:50%;
  margin-top:-15px;

  display:flex;
  flex-direction:column;
  gap:1px;
}

.rank-line{
  display:flex;
  align-items:center;
  gap:10px;
}

.rank-name{
  width:120px;
  font-size:13px;
  color:#dfe2ff;
  font-weight:600;
}

.rank-bar{
  flex:1;
  height:5px;
  border-radius:999px;
  background:#1b2146;
  overflow:hidden;
  position:relative;
}

.rank-fill{
  height:100%;
  width:0%;
  border-radius:999px;
  background:
    linear-gradient(
      90deg,
      var(--primary),
      var(--cyan)
    );

  box-shadow:
    0 0 20px rgba(99,102,241,.6);

  transition:1s ease;
  position:relative;
}

.rank-fill::after{
  content:"";

  position:absolute;
  top:0;
  right:0;

  width:60px;
  height:100%;

  background:
    rgba(255,255,255,.3);

  filter:blur(8px);

  animation:shine 2s infinite linear;
}

/* =========================
   DAYS
========================= */

.days-grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fill,minmax(100px,1fr));

  gap:16px;
}

.day-card{
  background:
    linear-gradient(
      180deg,
      #171b37,
      #101326
    );

  border:1px solid var(--border);

  border-radius:24px;

  padding:16px;

  text-align:center;

  cursor:pointer;

  transition:.25s;

  position:relative;
  overflow:hidden;
}

.day-card::before{
  content:"";

  position:absolute;
  inset:0;

  background:
    linear-gradient(
      135deg,
      rgba(255,255,255,.04),
      transparent
    );

  opacity:0;
  transition:.3s;
}

.day-card:hover::before{
  opacity:1;
}

.day-card:hover{
  transform:
    translateY(-6px)
    scale(1.03);
}

.day-card.active{
  border-color:#8b5cf6;

  box-shadow:
    0 0 25px rgba(139,92,246,.4);
}

.day-card canvas{
  width:62px;
  height:62px;
}

.day-card h4{
  margin-top:10px;
  font-size:14px;
}

/* =========================
   PLAN
========================= */

.plan-container{
  background:
    linear-gradient(
      180deg,
      #12152e,
      #0d1020
    );

  border:1px solid var(--border);

  border-radius:32px;

  padding:24px;

  box-shadow:var(--shadow);
}

.plan-head{
  margin-bottom:18px;
}

.plan-text{
  white-space:pre-wrap;
  line-height:1.9;
  color:#b8bff5;
}

/* =========================
   RIGHT PANEL
========================= */

.right-panel{
  background:
    linear-gradient(
      180deg,
      #12152e,
      #0d1020
    );

  border:1px solid var(--border);

  border-radius:36px;

  padding:24px;

  height:fit-content;

  position:sticky;
  top:20px;

  box-shadow:var(--shadow);
}

.task-header{
  margin-bottom:22px;
}

.task-header h2{
  font-size:28px;
}

.task-header p{
  color:var(--muted);
  margin-top:6px;
}

/* =========================
   TASKS
========================= */

.tasks-container{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.task-item{
  background:
    rgba(24,29,57,.85);

  border:1px solid var(--border);

  border-radius:22px;

  padding:16px;

  display:flex;
  align-items:flex-start;
  gap:14px;

  transition:.25s;

  backdrop-filter:blur(12px);
}

.task-item:hover{
  transform:translateY(-3px);
  border-color:#5860b5;
}

.task-item.completed{
  opacity:.7;
}

.task-item.completed label{
  text-decoration:line-through;
}

.task-item input[type="checkbox"]{
  appearance:none;

  width:22px;
  height:22px;

  border-radius:8px;

  border:2px solid #5960a4;

  cursor:pointer;

  margin-top:2px;

  position:relative;

  flex-shrink:0;
}

.task-item input[type="checkbox"]:checked{
  background:var(--gradient);
  border:none;
}

.task-item input[type="checkbox"]:checked::after{
  content:"✓";

  position:absolute;
  inset:0;

  display:flex;
  align-items:center;
  justify-content:center;

  color:white;
  font-size:13px;
  font-weight:700;
}

.task-item label{
  line-height:1.8;
  word-break:break-word;
}

/* =========================
   NAVIGATION
========================= */

/* =========================
   NAVIGATION
========================= */

.navigation {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center; /* Centers the button(s) horizontally */
  gap: 12px; 
}

.navigation button {
  /* Removed flex:1 so the button only takes up as much space as it needs */
  
  padding: 10px 28px; /* Increased horizontal padding for a nice pill shape */
  border: none;
  border-radius: 24px; /* Slightly rounder for a modern feel */
  background: var(--gradient);
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600; /* Makes the button text pop slightly more */
  letter-spacing: 0.5px;
  
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Soft modern drop shadow */
}

.navigation button:hover {
  transform: translateY(-3px); /* Slightly stronger lift */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Shadow expands on hover */
  filter: brightness(1.1); /* Subtle glow effect */
}


/* =========================
   IMPORT
========================= */

.import-section{
  margin-top:28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-btn{
  width:40%;

  padding:18px;

  border:none;

  border-radius:24px;

  background:var(--gradient);

  color:white;

  cursor:pointer;

  font-size:16px;

  box-shadow:
    0 0 25px rgba(99,102,241,.3);

  transition:.25s;
}

.import-btn:hover{
  transform:translateY(-3px);
}

/* =========================
   CHAT
========================= */

.ai-chat-section{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.section-head{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.section-head h3{
  font-size:17px;
}

.icon-btn{
  width:44px;
  height:44px;

  border:none;
  border-radius:16px;

  background:#1b2146;

  color:white;

  cursor:pointer;

  transition:.3s;
}

.icon-btn:hover{
  transform:rotate(90deg);
}

.chat-box{
  height:650px;

  overflow:auto;

  background:
    linear-gradient(
      180deg,
      #0d1124,
      #090c19
    );

  border:1px solid var(--border);

  border-radius:24px;

  padding:14px;

  display:flex;
  flex-direction:column;
  gap:14px;
}

.ai-message,
.user-message{
  max-width:90%;

  padding:14px;

  border-radius:18px;

  line-height:1.7;

  animation:fadeUp .25s ease;
}

.ai-message{
  background:#1b2148;
  border:1px solid rgba(255,255,255,.05);
}

.user-message{
  align-self:flex-end;
  background:var(--gradient);
}

.chat-input-wrap{
  display:flex;
  gap:10px;
}

.chat-input-wrap input{
  flex:1;

  padding:14px;

  border:none;
  outline:none;

  border-radius:16px;

  background:#0d1123;

  border:1px solid var(--border);

  color:white;
}

.chat-input-wrap button{
  width:58px;

  border:none;

  border-radius:16px;

  cursor:pointer;

  background:var(--gradient);

  color:white;

  font-size:20px;
}

/* =========================
   MINI CARDS
========================= */

.sidebar-section h3{
  margin-bottom:14px;
}

.mini-card{
  margin-top:12px;

  background:#0d1123;

  border:1px solid var(--border);

  border-radius:20px;

  padding:16px;
}

.mini-card strong{
  display:block;
  margin-bottom:8px;
}

.mini-card p{
  color:#b7bef5;
  line-height:1.7;
}

/* =========================
   BUTTONS
========================= */

.side-btn{
  width:40%;

  padding:18px;

  border:none;

  border-radius:18px;

  color:white;

  
}

.side-btn.danger{
  background:#8f2142;
}

/* =========================
   MODAL
========================= */

.modal{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,.72);

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:1200;

  padding:20px;
}

.hidden{
  display:none;
}

.modal-content,
.settings-modal-content{
  width:100%;
  max-width:900px;

  background:#111428;

  border:1px solid var(--border);

  border-radius:32px;

  padding:24px;

  animation:fadeUp .3s ease;
}

.settings-modal-content{
  max-width:520px;
}

.modal-header{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:20px;
}

.modal-header button{
  border:none;
  background:none;

  color:white;

  font-size:22px;

  cursor:pointer;
}

#jsonInput{
  width:100%;
  height:420px;

  background:#090c18;

  border:1px solid var(--border);

  border-radius:22px;

  padding:20px;

  resize:none;

  color:#dfe1ff;

  outline:none;

  font-size:14px;

  font-family:monospace;
}

.save-json-btn{
  width:100%;

  margin-top:20px;

  padding:16px;

  border:none;

  border-radius:18px;

  background:var(--gradient);

  color:white;

  cursor:pointer;
}

.settings-grid{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.settings-group{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.settings-group input{
  width:100%;

  padding:14px;

  border-radius:16px;

  border:1px solid var(--border);

  background:#0d1123;

  color:white;

  outline:none;
}

/* =========================
   ANIMATIONS
========================= */

@keyframes fadeUp{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes pulse{

  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.08);
  }

  100%{
    transform:scale(1);
  }
}

@keyframes shine{

  from{
    transform:translateX(-60px);
  }

  to{
    transform:translateX(60px);
  }
}

@keyframes float{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-8px);
  }

  100%{
    transform:translateY(0px);
  }
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1200px){

  .top-layout{
    grid-template-columns:1fr;
  }

  .right-panel{
    position:relative;
    top:0;
  }
}

@media(max-width:980px){

  .sidebar{
    position:fixed;
    left:0;
    top:0;
    transform:translateX(0);
  }

  .sidebar.collapsed{
    transform:translateX(-100%);
  }

  .main{
    padding:18px;
  }

  .right-panel{
    order:-1;
  }
}

@media(max-width:768px){

  .main-topbar h1{
    font-size:30px;
  }

  .chat-box{
    height:260px;
  }

  .big-progress-card{
    min-height:390px;
  }

  #overallCanvas{
    width:240px;
    height:240px;
  }

  .overall-center h1{
    font-size:48px;
  }

  .rank-system{
    width:92%;
  }

  .rank-name{
    width:90px;
    font-size:12px;
  }

  .navigation{
    flex-direction:column;
  }
}

@media(max-width:520px){

  .days-grid{
    grid-template-columns:
      repeat(2,1fr);
  }

  .main{
    padding:12px;
  }

  .right-panel,
  .big-progress-card,
  .plan-container{
    border-radius:26px;
  }

  .modal-content,
  .settings-modal-content{
    padding:18px;
  }

  #jsonInput{
    height:320px;
  }
}

.digital-clock {
    color: #00ffcc; /* Or use your application's primary variable tint like var(--primary) */
    text-shadow: 0 0 10px rgba(0, 255, 204, 0.3);
    /* background: rgba(255, 255, 255, 0.05); */
    padding: 6px 14px;
    margin-bottom: 10px;
    /* border-radius: 6px; */
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    align-items: center;
    justify-content: center;
    display: flex;
}
.bottom-controls{
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}